@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--ff-prim: 'Roboto Flex';
	--ff-sec: 'JetBrains Mono';
}

body {
	background-color: #000;
	color: #fff;
	font-family: var(--ff-prim), sans-serif;
	overflow-x: hidden;
}

.font-sec {
	font-family: var(--ff-sec);
}

.container {
	max-width: 700px;
	padding: 0 15px;
	margin: 0 auto;
}

#technologies,
#hero,
#education {
	--translateY: 0%;
}
